# .envrc for lake project

# Prefer pyenv over the python3 layout
#   Requires use_python() to be defined in ~/.direnvrc
#   see: https://github.com/direnv/direnv/wiki/Python#-pyenv
if has pyenv; then
  use python 2.7.8
else
  layout python
fi

export LC_ALL=en_US.UTF-8
export LANG=en_US.UTF-8
export TZ="/usr/share/zoneinfo/UTC"

export CONFIGURE_OPTS="OPT=\"-fPIC\""

